# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Build directory
build/

# IntelliJ IDEA
.idea/
*.iml

# Log files
*.log

# macOS
.DS_Store

# Allure
.allure/