<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="tests.gui.MainTest">
    <test name="test 1" thread-count="2" parallel="methods">
        <classes>
            <class name="tests.gui.MainTest"></class>
            <parameter name="username" value="atrostyanko+aqa07@gmail.com"></parameter>
            <parameter name="psw" value="w3n1bU7F4rxOfnfvrBJL"></parameter>
        </classes>
    </test>
    <test name="test 2">
        <classes>
            <class name="tests.gui.MainTest"></class>
        </classes>
    </test>
</suite>